. {{ grid_scripts_dir }}/setEnv.sh

cat >> ${ORACLE_HOME}/network/admin/listener.ora <<EOF

SID_LIST_LISTENER =
   (SID_LIST =
     (SID_DESC =
       (GLOBAL_DBNAME = {{ stby_oracle_unqname }})
       (ORACLE_HOME = {{ oracle_home }} )
       (SID_NAME = {{ oracle_sid }})
       #(ENVS="TNS_ADMIN={{ oracle_home }}/network/admin")
     )
	 (SID_DESC =
       (GLOBAL_DBNAME = {{ stby_oracle_unqname }}_DGMGRL)
       (ORACLE_HOME = {{ oracle_home }})
       (SID_NAME = {{ oracle_sid }})
       #(ENVS="TNS_ADMIN={{ oracle_home }}/network/admin")
     )
   )

EOF

echo "Restarting the listener"
srvctl stop listener
srvctl start listener

echo "Displaying the listener status after the restart"
srvctl status listener
