{{ db_name }}_{{ pdb_name }}=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL=TCP)
        (HOST={{ stby_scan_name }}.{{ hays_domain_name }})
        (PORT={{ stby_scan_port }}))
      (CONNECT_DATA=
        (SERVER=DEDICATED)
        (SERVICE_NAME={{ db_name }}_{{ pdb_name }}.paas.oracle.com)
        (FAILOVER_MODE=
          (TYPE=select)
          (METHOD=basic))))
{{ db_name }}_{{ pdb_name }}_RO=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL=TCP)
        (HOST={{ stby_scan_name }}.{{ hays_domain_name }})
        (PORT={{ stby_scan_port }}))
      (CONNECT_DATA=
        (SERVER=DEDICATED)
        (SERVICE_NAME={{ db_name }}_{{ pdb_name }}_ro.paas.oracle.com)
        (FAILOVER_MODE=
          (TYPE=select)
          (METHOD=basic))))
{{ db_name }}=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL=TCP)
        (HOST={{ stby_scan_name }}.{{ hays_domain_name }})
        (PORT={{ stby_scan_port }}))
      (CONNECT_DATA=
        (SERVER=DEDICATED)
        (SERVICE_NAME={{ stby_db_unique_name }}.{{ hays_domain_name }})
        (FAILOVER_MODE=
          (TYPE=select)
          (METHOD=basic))))
IFILE=/var/opt/oracle/dbaas_acfs/{{ db_name }}/tnsnames.ora
