tablespaces={{ tablespaces }}
platformid={{ source_platform_id }}
src_scratch_location={{ source_xtts_scratch_dir }}
dest_scratch_location={{ target_xtts_scratch_dir }}
dest_datafile_location=+{{ target_data_dg }}
asm_home={{ target_grid_home }}
asm_sid=+{{ target_grid_sid }}
parallel={{ parallel }}
rollparallel={{ rollparallel }}
getfileparallel={{getfileparallel}}
dest_user={{ dest_user }}
dest_host={{ target_ip_address }}
desttmpdir={{ target_xtts_scratch_dir }}
srcconnstr={{ source_conn_str }}
destconnstr={{ target_conn_str }}
usermantransport={{ usermantransport }}