{{ pri_db_unique_name }}=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL= TCP)
        (HOST={{ pri_scan_name }}.{{ hays_domain_name }})
        (PORT={{ pri_scan_port }}))
      (CONNECT_DATA=
        (SERVER= DEDICATED)
        (SERVICE_NAME= {{ pri_db_unique_name }}.{{ hays_domain_name }})))
{{ db_name }}=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL=TCP)
        (HOST={{ pri_scan_name }}.{{ hays_domain_name }})
        (PORT={{ pri_scan_port }}))
      (CONNECT_DATA=
        (SERVER=DEDICATED)
        (SERVICE_NAME={{ pri_db_unique_name }}.{{ hays_domain_name }})
        (FAILOVER_MODE=
          (TYPE=select)
          (METHOD=basic))))
{{ pdb_name }}=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL=TCP)
        (HOST={{ pri_scan_name }}.{{ hays_domain_name }})
        (PORT={{ pri_scan_port }}))
      (CONNECT_DATA=
        (SERVER=DEDICATED)
        (SERVICE_NAME={{ pdb_name }}.{{ hays_domain_name }})
        (FAILOVER_MODE=
          (TYPE=select)
          (METHOD=basic))))
{{ db_name }}_{{ pdb_name }}=
    (DESCRIPTION=
      (ADDRESS=
        (PROTOCOL=TCP)
        (HOST={{ pri_scan_name }}.{{ hays_domain_name }})
        (PORT={{ pri_scan_port }}))
      (CONNECT_DATA=
        (SERVER=DEDICATED)
        (SERVICE_NAME={{ db_name }}_{{ pdb_name }}.paas.oracle.com)
        (FAILOVER_MODE=
          (TYPE=select)
          (METHOD=basic))))

