OPC_HOST={{ stby_opc_host }}
OPC_WALLET='LOCATION=file:{{ stby_opc_wallet_dir }} CREDENTIAL_ALIAS=alias_oci'
OPC_CONTAINER={{ stby_arc_backup_bucket }}
OPC_COMPARTMENT_ID={{ stby_compartment_id }}
OPC_AUTH_SCHEME={{ stby_opc_auth_scheme }}

