OPC_HOST={{ pri_opc_host }}
OPC_WALLET='LOCATION=file:{{ pri_opc_wallet_dir }} CREDENTIAL_ALIAS=alias_oci'
OPC_CONTAINER={{ pri_arc_backup_bucket }}
OPC_COMPARTMENT_ID={{ pri_compartment_id }}
OPC_AUTH_SCHEME={{ pri_opc_auth_scheme }}

