TGT_DB_UNIQUE_NAME={{target_db_unique_name}}
MIGRATION_METHOD={{zdm_migration_method}}
DATA_TRANSFER_MEDIUM={{zdm_data_transfer_medium}}
PLATFORM_TYPE={{zdm_platform_type}}
HOST={{zdm_host}}
OPC_CONTAINER={{zdm_opc_container}}
SKIP_FALLBACK={{zdm_skip_fallback}}
SHUTDOWN_SRC={{source_shutdown}}
##ZDM_USE_DG_BROKER={{zdm_dg_broker}}